#homefeed-container {
    background-color: whitesmoke;
}

#feed-container {
    background-color: whitesmoke;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-evenly;
}

#images-container {
    display: flex;
    flex-direction: column;
}

#feed-photo-container {
    margin-bottom: 10px;
    width: 450px;
    height: 500px;
    display: flex;
    /* position: relative; */
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    align-content: center;
   
    

}


#feed-photo-container img {
    width: 100%;
    height: 100%;
    display: block;
    flex-direction: row;
}

#suggested-container {
    background-color: white;
    width: 300px;
    height: 450px;
    margin-top: 50px;
    border-radius: 10px;
    padding: 15px;

}

.follower-name {
    font-size: smaller;
    background-color: white;

}

.follower-name p {
    margin: 0px;
    
}

#photo-details {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 450px;
    height: 500px;
    /* height: 300px;  */
    margin: auto;
    font-size: small;
    text-align: center;
    transition: .5s ease-in-out;
    opacity: 0;
    position: absolute;
    /* top: -100%; 
    left: 0%; */
    background-color: rgba(255, 255, 255, 0.6);

}

#photo-details:hover {
    opacity: 1;
}


#photo-details > * {
    transform: translateY(20px);
    transition: transform 0.25s
}

#photo-details:hover > * {
    transform: translateY(0);
    cursor: pointer;
    
}

#location {
    transition: .6s;

}

#location:hover {
    letter-spacing: 1px;
    color: rgb(103, 103, 103);

}

#follower-image {
    width: 25px;
    height: 25px;
    border-radius: 100%;
    margin-right: 10px;
}


.whole-follower {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#name {
    font-weight: bold;
}

#add-follower {
    border: none;
    background-color: white;
}

#add-follower:hover {
    opacity: .5;
}

#image-and-info {
    display: flex;
    flex-direction: row;
}

h4 {
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 5px;
}

#followers-add-padding {
    height: 280px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;


}
