.places-container {
    position: absolute;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 10;
    width: 300px;
}

.map-container {
    margin-top: 40px;
    width: 70%;
    height: 70vh;
}
.combobox-input {
    width: 100%;
    padding: 0.5rem;
}

#map {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}