body {
    font-family: "Lato", "Arial", sans-serif;
}


#my-profile {
    background-color: whitesmoke;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

}

#profile-div {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin: 20px;
    width: 45%;
}


#profile-container {
    display: flex;
    flex-direction: column;
}
.photos-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    /* align-content: center; */
    justify-content: center;
    flex-wrap: wrap;
    /* max-width: 960px; */
    max-width: 980px;
    /* background-color: purple; */

}


#profile-pic {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}


#followers-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}


.followers {
    margin-left: 10px;
    margin-right: 10px;
}


#info-container {
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#buttons-div {
    /* background-color: aqua; */
    display: flex;
    align-items: center;
    justify-content: center;
}

.profilebutton {
    margin-left: 2px;
    margin-right: 2px;
    display: flex;
    width: 100px;
    border: none;
    background-color: white;
    border: 1px solid rgba(27, 31, 35, 0.15);
    border-radius: 6px;
    box-shadow: rgba(27, 31, 35, 0.04) 0 1px 0, rgba(255, 255, 255, 0.25) 0 1px 0 inset;
    box-sizing: border-box;
    color: #24292E;
    cursor: pointer;
    /* display: inline-block; */
    font-family: -apple-system, system-ui, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    list-style: none;
    padding: 6px 16px;
    position: relative;
    transition: background-color 0.2s cubic-bezier(0.3, 0, 0.5, 1);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: middle;
    white-space: nowrap;
    word-wrap: break-word;
    }

.profilebutton:hover {
  background-color: #F3F4F6;
  text-decoration: none;
  transition-duration: 0.1s;
}

.profilebutton:disabled {
  background-color: #FAFBFC;
  border-color: rgba(27, 31, 35, 0.15);
  color: #959DA5;
  cursor: default;
}

.profilebutton:active {
  background-color: #EDEFF2;
  box-shadow: rgba(225, 228, 232, 0.2) 0 1px 0 inset;
  transition: none 0s;
}

.profilebutton:focus {
  outline: 1px transparent;
}

.button-4:before {
  display: none;
}

.button-4:-webkit-details-marker {
  display: none;
}

#pop-up-background {
  background-color: black;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  z-index: 1;
  opacity: .4;
}

#pop-up {
  display: flex;
  flex-direction: column;
  background-color: white;
  justify-content: flex-end;
  position: fixed;
  width: 700px;
  height: 450px;
  z-index: 2;
  opacity: 1;
  left: 50%;
  transform: translate(-50%, 0);
  top: 18%;
  border-radius: 10px;


}

#inner-pop-up {
  background-color: whitesmoke;
  width: 100%;
  height: 87%;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  display: flex;
  flex-direction: row;
  justify-content: center;

}

#pop-up-top {
  width: 100%;
  height: 13%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#pop-up-top > * {
  margin-left: 20px;
  
}


#followers-container-pop-up {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  /* background-color: white; */
  width: 70%;
  height: 100%;
  overflow-y: scroll;

}

#follower-padding {
  margin-top: 5px;
  margin-bottom: 5px;
}

#pop-up-close {
  border: none;
  background-color: white;
  margin-right: 10px;
  
}

#profile-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 20px;
  
}

#name-only {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 10px;
}

#name-only > * {
  margin: 5px;
}

#followingspan:hover {
  opacity: .5;
  cursor: pointer;

}