.dropdown-results {
    background-color: whitesmoke;
    margin-top: 10px;
    
}


.dropdown-results > *{
    background-color: white;
    font-size: smaller;

}

#search {
    margin-top: 15px;
    padding-left: 5px;
    width: 295px;
    height: 30px;
    border-color: rgb(184, 184, 184);
    border-radius: 5px;
    border-style: solid;

}
